<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{css 'css/common.css'}}
    {{{block "css"}}}
  </head>
  <body>
    {{{body}}}

    <!-- test -->
    {{{block "js"}}}
  </body>
</html>
